
@{
    ViewData["Title"] = "AboutUs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-primary">Your company here</h2>

<img class="companypic" src=~/Images\picture_icon-icons.com_67835.png/>
