
@{
    ViewData["Title"] = "AboutUs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <div class="row">
        <div class="col">
            <h2 class="text-primary">Your company here</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec leo augue, bibendum vel orci a, tincidunt consequat eros. Vivamus in luctus sem. Aenean commodo ligula nec accumsan congue. Nunc quis ultrices erat. Sed nec euismod libero. Duis in feugiat magna. Morbi ac efficitur nunc. Nunc ac cursus ante. Nulla sollicitudin dapibus nunc, in rhoncus mi tristique ac. Curabitur vulputate nibh in varius imperdiet. Nam lacinia libero ipsum. Fusce luctus ut odio nec pharetra. Mauris sit amet tincidunt ligula.
           </p>
        </div>
        <div class="col">
            <img class="companypic" alt="Company pic" src=~/Images\picture_icon-icons.com_67835.png/>
        </div>
    </div>
</div>