/*html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}
    */

/*MAIN*/

body {
    display:flex; 
    flex-direction:column; 
}

.container {
    max-width: 1500px;
    margin-top: 10px;
}


.logo {
    width: 70px;
    height: auto;
    margin-right: 5px;
}

#searchbar {
    margin-bottom: 10px;
}

.card-img-top {
    margin-top: 10px;
    padding: 5px;
}

.btn {
    margin: 5px;
}

#tc {
    text-align: justify;
    text-justify: inter-word;
}

.footer {
    min-height: 100px;
    max-height: 200px;
}
/*CALENDAR*/
.md-calendar-booking .mbsc-calendar-text {
    text-align: center;
}

.md-calendar-booking .booking-datetime .mbsc-datepicker-tab-calendar {
    flex: 1 1 0;
    min-width: 300px;
}

.md-calendar-booking .mbsc-timegrid-item {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}

.md-calendar-booking .mbsc-timegrid-container {
    top: 30px;
}