

<h1>
    The booking has been cancelled
</h1>

<h2>The booking will be refunded</h2>
<br />


<img class="checkmark" src="~/Images/cancel.png"/>
<br />
<h4>An email confirmation has been sent to your email-adress</h4>
<br />
<br />
<br />

<br />
<br />
<br />
<br />
<br />
