@model int

<h1>
    Your booking was successful
</h1>

<h2>Booking number: @Model</h2>
<br />


<img class="checkmark" src="~/Images/checkmark.png"/>
<br />
<h4>An email confirmation has been sent to your email-adress</h4>
<br />
<br />
<br />

<br />
<br />
<br />
<br />
<br />
