@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}

<h1>@ViewData["Title"]</h1>
@{
    if (@Model.DisplayConfirmAccountLink)
    {
        <h2 class="text-primary">You have been registered!</h2>
        <br />
<br />
<br />
<br />
<br />
<p>
    Normally, you would recieve a email confirmation here:
     <a id="confirm-link" href="@Model.EmailConfirmationUrl">Click here to confirm your account</a>
</p>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
    }
    else
    {
<p>
        Please check your email to confirm your account.
</p>
    }
}

